<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>First Lesson Vue Js</h1>
    <div id="app">
        <h3 v-if="characterList.length !== 0">List of characters </h3>
        <h3 v-else>No  character list Found </h3>
        <ul>
            <li v-for="(character, index) in characterList">{{character.name}}</li>
        </ul>
            <span v-for="(character, index) in characterList">{{character.name}} {{index ===characterList.length - 1 ? "": ", "}}</span>


    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        Vue.createApp({
            data: ()=>({
                characterList: [
                    {name: "Massire"},
                    {name: "Sita"},
                    {name: "Elium"},
                    {name: "Tarzan"},
                ]
            })
        }).mount("#app");
    </script>

</body>
</html>